* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    height: 40px;
    width: 50px;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 1px solid orange;
    font-weight: bold;
}

