.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}

.navbar__items {
    margin-left: auto;
}

.navbar__items a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    color: black;
}